	
/*FOOTER*/
	
#footer
    {
	position:relative;
	top:0px;
	width:100%;
	 /* height:300px; */
	background-color:rgba(163,43,55); 
	text-align:center;
	color:rgba(254,254,254,0.8);
	font-family:'Open Sans',verdana;
	padding-top:75px;
	padding-bottom:75px;
	}
#footer div 
    {
	width:50%;
	margin:0 auto 0 auto;
	padding-top:20px;
	padding-bottom:20px;
	
	}
#footer .adress
    {
	border-top: 1px solid rgba(254,254,254,0.4);
	border-bottom: 1px solid rgba(254,254,254,0.4);
	}
#footer form .email
    {
    padding-left:10px;
	width:300px;
	height:55px;
	border-radius:50px;
	border:3px solid rgba(163,43,55,0);
	font-size:16px;
	}
#footer form .email:focus
    {
   border:3px solid rgba(163,43,55,0.9);
	}
#footer .envoyer
    {
    display:inline-block;
    width:150px;
	height:50px;
	font-size:16px;
	background-color:rgba(107,172,68,0.9);
	color:rgba(254,254,254,0.8);
	border-radius:50px;
	
	border:2px solid rgba(107,172,68,0.8);
	} 
#footer .envoyer:hover
    {
    background-color:rgba(107,172,68,1);
	color:rgba(254,254,254,1);
	border:1px solid rgba(107,172,68,1);
	} 
	#footer a
    {
		text-decoration: none;
	} 	
#footer .fa
    {
	transition:color 0.5s;
	color:rgba(254,254,254,0.8);
	} 
	
#footer .fa:hover
    {
    color:rgba(107,172,68,0.9);
	} 	
	
@media screen and (max-width:1000px){
	
	

	 
}
@media screen and (max-width:700px){
   
   
}
@media screen and (max-width:600px){
    
   #footer div
    {
	font-size:15px;
	width:90%;
	}
	#barreVert                                       /*barre vert*/
   {
	font-size:16px;
	} 
}
@media screen and (max-width:400px){
   
	
	#footer div
    {
	width:95%;
	font-size:14px;
	}
	#footer form .email
    {
    width:250px;
	height:40px;
	font-size:14px;
	}
	#barreVert                                       
   {
	font-size:15px;
	} 
	#barreVert div                                     
   {
   margin-left:20px;
   margin-right:20px;
	} 
}

