@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; src: url('fonts/open-sans-v16-latin-300.eot'); src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/open-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), url('fonts/open-sans-v16-latin-300.woff2') format('woff2'), url('fonts/open-sans-v16-latin-300.woff') format('woff'), url('fonts/open-sans-v16-latin-300.ttf') format('truetype'), url('fonts/open-sans-v16-latin-300.svg#OpenSans') format('svg'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: url('fonts/open-sans-v16-latin-regular.eot'); src: local('Open Sans Regular'), local('OpenSans-Regular'), url('fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), url('fonts/open-sans-v16-latin-regular.woff2') format('woff2'), url('fonts/open-sans-v16-latin-regular.woff') format('woff'), url('fonts/open-sans-v16-latin-regular.ttf') format('truetype'), url('fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); }	

#contenaire
  {
   position:relative;
   width: 1100px;
   /* background: red; */
   margin:0 auto;
   font-family:'Open Sans',sans-serif; 
   font-size: 20px;
  
  }
  h1,h2
  {
  
    color: red;
   }
  #contenaire .img
  {
  
   width:100%;
   margin-top: 0px;
  }
 .home
   {
  display: block;
  position: absolute;
  top:350px;
  right: 20px;
  border-bottom: 0px;
  color:rgb(255, 255, 255);
  transition:0.3s;
  
  }
  .home:hover
  {
  color:red;
  }
  #contenaire .lettre 
  {
    display: block;
    position: absolute;
    padding-left: 5%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    z-index: 1;
  }
  #contenaire .bout
  {
    width: 100px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 5px;
    margin-top: 30px;
    transition: 0.5s;
    
  }
  #contenaire .bout:hover
  {
    background: rgb(255, 255, 255);
    color: rgba(0,0,0,0.9);
    transform: scale(1.02);
    box-shadow:-3px 5px 10px rgba(0,0,0,0.4);
    
  }


  #priere 
  {
    width: 80%;
    margin: 0 auto;
    /* background: rgb(0, 255, 157); */
    line-height: 30px;
    margin-bottom: 50px;
   
   }
   #priere h1
    {
    font-size: 45px;
    line-height: 60px;
    color: red;
    
    }
 #priere .char
    {
      visibility: hidden;
      animation: text 0s steps(2) forwards;
      animation-delay: calc(0.05s * var(--char-index));
     }

  @keyframes text {
    0%{
      visibility: hidden;
    }
    100%{
      visibility:visible;
    }
  }

    #contacte 
    {
      position: relative;
      width: 100%;
      height: 700px;
      margin-top: 50px;
      text-align: center;
   /* border-top:1px solid rgba(10, 0, 0, 0.2); */
   
   overflow: hidden;
   
     }   
.cont
    {
      position: absolute;
      top:0px;
      right: 0px;
      padding: 30px;
       width: 500px;
       height: 700px;
       background: rgba(255, 255, 255, 0.9);
  
    }
.contimg
   {
  position: absolute;
  top:0;
  left: 0px;
  z-index:-1 ;
  }
    #contacte input,#contacte textarea
     {
    display: block;
    width:90%;
    height:50px;
    font-size: 18px;
    margin: 0 auto;
   background: rgba(255, 255, 255, 0);
      /*	border-radius:7px;*/
    border: rgba(51,51,51,0);
    border-bottom:2px solid rgba(5, 0, 0, 0.918);
    /* background-color: rgba(51,51,51,0.03); */
      }
      #contacte input:focus,#contacte textarea:focus
     {
    border-bottom:2px solid rgba(253, 3, 3, 0.979);
    /* background-color: rgba(51,51,51,0.03); */
      }
 
   #contacte textarea
      {
     height: 200px;
     font-family:'Open Sans',sans-serif; 
       }
  #contacte .envoyer
       {
      width: 170px;
      height: 55px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0);
      
      border:2px solid rgba(252, 8, 0, 0.979);
      transition: 0.5s;
        }
   #contacte .envoyer:hover
        {
       transform: scale(1.02);
       box-shadow:-3px 5px 10px rgba(0,0,0,0.4);
      
         }

   #papa
         {
          position: absolute;
          top:0px;
          left: 10%;
          width: 60%;
          line-height: 30px;
          padding-left: 10%;
          padding-right: 10%;
          padding-bottom: 20px;
          background: rgba(255, 255, 255, 0.938);
          z-index: 2;
          border-bottom:1px solid rgba(0, 0, 0, 0.5);
          transform: translateY(-100%);
         }
   
  #papa .retour
     {
        transition: 0.5s;
    }
   #papa .retour:hover
   {
    transform: rotate(360deg);
  
   }
    .video
       {
      width: 300px;
        }
@media screen and (max-width:1100px){
  #contenaire
  {
  width: 100%;
  
  }
  #contenaire .img
  {
  
   width:auto;
   height: 400px;
   margin-top: 0px;
  }
  #papa
  {
   width: 80%;
   left: 0%;

  }
} 
@media screen and (max-width:1000px){
  #contenaire
  {
  width: 100%;
  
  }
  .cont
    {
    position: relative;
    margin: 0 auto;
  
    }
} 
@media screen and (max-width:600px){
  .cont
    {
      padding: 0px;
      padding-top: 50px;
      margin:0px; 
      width: 100%;
      background: rgba(255, 255, 255, 0.9);
  
    }
    #contacte h2
     {
       margin: 0px;
      }
}   
@media screen and (max-width:500px){
  #contenaire
  {
    font-size: 18px;
    overflow: hidden;
  }
  #contenaire .img
  {
  width: auto;
   height: 300px;
   transform: translateX(-200px);

  }
  .home
   {
  top:250px;
 }
  #priere 
  {
    width: 85%;
  }
  #priere h1
    {
    font-size: 30px;
    line-height: 35px;
    
    }
    #contacte
    {
      
      height: 600px;
     }
     
  #contacte input,#contacte textarea
  {
    
    height: 40px;
   }
  #contacte textarea
  {
    
    height: 150px;
   }
} 

@media screen and (max-width:400px){
 
  #priere 
  {
    width: 90%;
  }
  #papa
  {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;

  }
} 