@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 300; src: url('../fonts/open-sans-v16-latin-300.eot'); src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/open-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), url('fonts/open-sans-v16-latin-300.woff2') format('woff2'), url('fonts/open-sans-v16-latin-300.woff') format('woff'), url('fonts/open-sans-v16-latin-300.ttf') format('truetype'), url('fonts/open-sans-v16-latin-300.svg#OpenSans') format('svg'); }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: url('../fonts/open-sans-v16-latin-regular.eot'); src: local('Open Sans Regular'), local('OpenSans-Regular'), url('fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), url('fonts/open-sans-v16-latin-regular.woff2') format('woff2'), url('fonts/open-sans-v16-latin-regular.woff') format('woff'), url('fonts/open-sans-v16-latin-regular.ttf') format('truetype'), url('fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); }	
body
   {
    margin: 0;
    width:100%;
    height: 100%; 
    background: rgba(167, 32, 126, 0.8);
    background:url("") ;
    overflow: hidden;
    }
    body .fond
    {
     position: absolute;
     top:0px;
     transform: translateY(-100px);
     z-index: -1; 
     }
    
#corp
   {
	position: relative;
	width:400px;
    margin:0 auto;
    padding-top: 100px;
    font-family:'Open Sans',sans-serif; 
    font-size: 20px;
    color: rgb(254, 255, 255);
    
    
    }
    #corp #box
    {
     position: relative;
     width:100%;
     margin:0;
     padding-top: 50px;

     padding-bottom: 50px;
     background: rgba(2, 0, 0, 0.9) ;
     }
     #corp #box #boxchild
        {
        width: 80%;
        margin:0px auto;
        
        }
     #corp #box #boxchild h3
        {
        display: block;
        margin:20px auto;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 30px;
        }
     #corp #box #boxchild  .name , #corp #box #boxchild  .passeword
    {
     display: block;
     width:100%;
     height:40px ;
     margin: 5px auto;
     text-decoration: none;
     font-size: 18px;
     color: rgba(255, 255, 255, 0.8);
     background: rgba(202, 59, 59, 0);
     border: rgba(202, 59, 59, 0);
     border-bottom: 2px solid rgba(253, 253, 253, 0.8);
     transition: 0.5s;
     }
     #corp #box #boxchild  .envoyer
     {
      display: block;
      width:100%;
      height:50px ;
      margin: 5px auto;
      text-decoration: none;
      font-size: 18px;
      color: aliceblue;
      background:rgba(221, 13, 13, 0.95);
      border-radius: 50px ;
      border: rgba(202, 59, 59, 0);
      transition: 0.5s;
      }
     #corp #box #boxchild input:focus
    {
    
     border-bottom: 2px solid rgb(231, 31, 31);
     }
     #corp #box p
     {
      
      margin:0px;
      font-size: 16px;
      
      }
      #corp .pdp
      {
          display: block;
         position: absolute;
         top:20px;
         left: 30%;
         width: 150px;
         height: 150px;
         opacity: 0.9;
       }

       @media screen and (max-width:400px){
        #corp
        {
       
         width:100%;
         font-size: 18px;
         padding-top: 70px;
         }
       #corp .pdp
         {
          
            top:5px;
            left: 30%;
            width: 120px;
            height: 120px;
            opacity: 0.9;
          }
       #corp #box #boxchild h3
          {
          
          margin:5px auto;
         font-size: 25px;
          }
    }
